.expenses {
  padding: 1rem;
  background-color: rgb(238, 234, 234);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(236, 235, 235, 0.928);
  font-family:sans-serif;
}
.header{
  text-align: center;
  color: aliceblue;
}
body{
  background-color: rgb(168, 204, 204);
}
